<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254282177282-1olohrqelftc7o4ffm9vom8947a41rrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254282177282-1olohrqelftc7o4ffm9vom8947a41rrm</string>
	<key>API_KEY</key>
	<string>AIzaSyDireRlXbCwjGtYqy7Mjvc_nENTqbwGrtY</string>
	<key>GCM_SENDER_ID</key>
	<string>254282177282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceCct</string>
	<key>PROJECT_ID</key>
	<string>practicecct</string>
	<key>STORAGE_BUCKET</key>
	<string>practicecct.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254282177282:ios:dd046a790c740b51be801b</string>
	<key>DATABASE_URL</key>
	<string>https://practicecct-default-rtdb.firebaseio.com</string>
</dict>
</plist>